<ion-header>
    <ion-navbar>
        <ion-title>Scannées : {{totalChecked}}/{{totalOeuvres}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card *ngFor="let oeuvre of oeuvres">
        <div style="position: relative">

            <img src="assets/imgs/{{oeuvre.image}}">
            <ion-fab *ngIf="oeuvre.checked" right top>
                <button ion-fab>
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                </button>
            </ion-fab>
        </div>

        <ion-item>
            <ion-icon name="barcode" item-start large></ion-icon>
            <h2>{{oeuvre.firstname}}{{oeuvre.lastname}}</h2>
            <p>{{oeuvre.code}}</p>
        </ion-item>

    </ion-card>

</ion-content>
